.header_main {}

.cat_menu_container, .header_search_button, .cart_count, .page_menu_content {
  background-color: #008194;
}

.cat_menu li a:hover, .viewed_name a:hover, .advert_title a:hover, .bestsellers_name a:hover, .bestsellers_category a:hover, .standard_dropdown li a:hover, .wishlist_text a:hover, .arrivals_single_name a:hover, .product_name div a:hover, .trends_category a:hover, .trends_name a:hover {
  color: #008194;
}

.cart_text a:hover, .custom_list li a:hover {
  color: #008194;
}

.product_cart_button:hover, .arrivals_slider .slick-dots li:hover, .bestsellers_slider .slick-dots li:hover, .featured_slider .slick-dots li:hover {
  background: #008194;
}

.popular_categories_link a, .reviews_all a, .advert_title_2 a {
  color: #008194;
}

.banner_2_dots .owl-dot.active, .featured_slider .slick-dots li.slick-active, .bestsellers_slider .slick-dots li.slick-active, .arrivals_slider .slick-dots li.slick-active, .reviews_dots .owl-dot.active, .available_bar span {
  background: #008194;
}

.button, .arrivals_single_button, .product_cart_button {
  background: #008194;
}

.product_new, .arrivals_single_marks .product_new, .trends_new, .item_new {
  background: #008194;
}

.tabs_line span {
  background: #008194;
}

.img_logo img {
  width: 100%;
  min-width: 100%;
  max-width: 200%;
}


@media only screen and (max-width: 991px) {
  .main_nav_content {
    background: #008194;
  }
  @media only screen and (min-width: 100px) and (max-width: 1024px) {
    .img_logo img {
      width: 180%;
    }
  }
