.viewed_title_container {
    /*    border-bottom: solid 1px #dadada;
*/
}

a, a:hover{
    color: #008496;
}
.btn-change:hover a:hover {
  color: #fff;
}

.viewed_title {
    margin-bottom: 0px;
}

.order_cart_title {
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    line-height: 30px;
    text-align: left!important;
}

.order_cart_amount {
    width: 100%;
    display: inline-block;
    font-size: 16px;
    font-weight: 450;
    line-height: 35px;
}
.order_cart_title_text{
	    font-size: 15px;
    line-height: 20px;

}
.cart_button_checkout {
  	text-align: center;
    width: 100%
  
}

.cart_item_text {
    font-size: 14px;
    margin-top: 0px;
}
.order_cart_title1{
    display: -webkit-box;
    font-size: 14px;
    font-weight: 500;
    background-color: #f6f6f6f6;
    line-height: 30px;
    text-align: left!important;
}
.order_cart_title2{
    margin-top: 15px;
    /*display: -webkit-box;*/
    font-size: 14px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    /*line-height: 15px;*/
    text-align: left!important;
}



.btn-radio {
  cursor: pointer;
  display: inline-block;
  float: left;
  -webkit-user-select: none;
  user-select: none;
}
.btn-radio:not(:first-child) {
  margin-left: 20px;
}
@media screen and (max-width: 480px) {
  .btn-radio {
    display: block;
    float: none;
  }
  .btn-radio:not(:first-child) {
    margin-left: 0;
    margin-top: 15px;
  }
}
.btn-radio svg {
  fill: none;
  vertical-align: middle;
}
.btn-radio svg circle {
  stroke-width: 2;
  stroke: #C8CCD4;
}
.btn-radio svg path {
  stroke: #008496;
}
.btn-radio svg path.inner {
  stroke-width: 6;
  stroke-dasharray: 19;
  stroke-dashoffset: 19;
}
.btn-radio svg path.outer {
  stroke-width: 2;
  stroke-dasharray: 57;
  stroke-dashoffset: 57;
}
.btn-radio input {
  /*display: none;*/
  opacity: 0;
  position: absolute;
  z-index: -1;
}
}
.btn-radio input:checked + svg path {
  transition: all 0.4s ease;
}
.btn-radio input:checked + svg path.inner {
  stroke-dashoffset: 38;
  transition-delay: 0.3s;
}
.btn-radio input:checked + svg path.outer {
  stroke-dashoffset: 0;
}
.btn-radio span {
  display: inline-block;
  vertical-align: middle;
}
