.cat_menu_show ul
{
	visibility: hidden;
	opacity: 0;
}
.top_bar {
    width: 100%;
    height: 35px;
    background: #fafafa;
    border-bottom: solid 1px rgba(0,0,0,0.05);
    z-index: 2;
}
.top_bar_contact_item {
    font-size: 14px;
    font-weight: 0px;
    line-height: 35px;
    margin-right: 40px;
}

.top_bar_contact_item a {
    font-size: 14px;
    font-weight: 0;
    line-height: 35px;
    color: #000;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.top_bar_icon {
    display: inline-block;
    margin-right: 14px;
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px);
}

.standard_dropdown li .fix {
    display: table;
    font-size: 14px;
	line-height: 35px;

}

.top_bar_user .fix {
	display: table;
    font-size: 14px;
    font-weight: 300;
    line-height: 83px;
}
.top_bar_menu {
    /* display: table-cell; */
}

#parent {
	overflow: hidden;
	/* height: 30px; */
   
}
.text1 {
	float: left ;
	width: 135px !important;
    overflow: hidden;
  
}
.text2 {
	float: left ;
	width: 60px !important;
	overflow: hidden;
   
}
em{
    color:red;
}


.loader-ellips {
  font-size: 20px; /* change size here */
  position: relative;
  width: 4em;
  height: 1em;
  margin: 10px auto;
}

.loader-ellips__dot {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  background: #008496; /* change color here */
  position: absolute;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.loader-ellips__dot:nth-child(1),
.loader-ellips__dot:nth-child(2) {
  left: 0;
}
.loader-ellips__dot:nth-child(3) { left: 1.5em; }
.loader-ellips__dot:nth-child(4) { left: 3em; }

@keyframes reveal {
  from { transform: scale(0.001); }
  to { transform: scale(1); }
}

@keyframes slide {
  to { transform: translateX(1.5em) }
}

.loader-ellips__dot:nth-child(1) {
  animation-name: reveal;
}

.loader-ellips__dot:nth-child(2),
.loader-ellips__dot:nth-child(3) {
  animation-name: slide;
}

.loader-ellips__dot:nth-child(4) {
  animation-name: reveal;
  animation-direction: reverse;
}
