.product_name div a{
	margin: 8px 0;
    font-size: 13px;
    white-space: inherit;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-left: 29px; 
    margin-right: 25px; 
}
.product_name{
	margin-top: 0px; 
}
.featured_slider_item {
    height: 300px;
        width: 25%;
}

