.test input[type="file"] {
    display: block;
}

.upload input[type="file"] {
    display: none;
}


.buttonload {
    background-color: #2E4254;
    /* Green background */
    border: none;
    /* Remove borders */
    color: white;
    /* White text */
    padding: 6px 12px;
    /* Some padding */
    font-size: 14px;
    /* Set a font-size */
}


/* Add a right margin to each icon */

.buttonload i .fa {
    margin-left: -12px;
    margin-right: 8px;
}


.column label {
    float: left;
    width: 33.33333333%;
    padding-top: 10px;
    padding-right: 15px;
}

.column label img {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 125px;
    cursor: pointer;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    overflow: hidden;
    cursor: pointer;
}

.column label img:hover {
    opacity: 1;
}


.column1 {
    /*display: none;*/
    float: left;
    width: 33.33333333%;
    padding-top: 10px;
    padding-right: 15px;
}

.column1 img {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 125px;
    cursor: pointer;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    overflow: hidden;
    cursor: pointer;
}

.column1 img:hover {
    opacity: 1;
}

.image_selected,
#expandedImg {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% + 15px);
    height: 353px;
    -webkit-transform: translateX(-15px);
    -moz-transform: translateX(-15px);
    -ms-transform: translateX(-15px);
    -o-transform: translateX(-15px);
    transform: translateX(-15px);
    overflow: hidden;
}

.image-column {
    width: calc(100% + 15px);
    transform: translateX(-15px);
}


.text-table {
    padding: 6px 12px 6px 12px;
}


.form-style-4 label {
    display: block;
    margin-bottom: 10px;
}

.form-style-4 label>span {
    display: inline-block;
    float: left;
    width: 150px;
}

.form-style-4 input[type=text],
.form-style-4 input[type=email] {
    background: transparent;
    border: none;
    padding: 6px 12px 6px 12px;
    outline: none;
}


.form-style-4 textarea:focus,
.form-style-4 input[type=text]:focus,
.form-style-4 input[type=email]:focus,
.form-style-4 input[type=email] :focus {
    border-bottom: 1px dashed #2E4254;
}

.form-style-4 input[type=submit],
.form-style-4 input[type=button] {
    background: #576E86;
    border: none;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    color: #A8BACE;
}

.form-style-4 input[type=submit]:hover,
.form-style-4 input[type=button]:hover {
    background: #394D61;
}
.btn-save{
	border-color:#EA5900;
	color: #EA5900;
}
.btn-save:hover{
	border-color:#fff;
	color: #fff;
	background-color: #EA5900;
}

.btn-change{
	border-color:#008798;
	color: #008798;
}
.btn-change:hover{
	border-color:#fff;
	color: #fff;
	background-color: #008798;
}



@media screen and (max-width: 992px) {
    .image_selected,
    #expandedImg {
        height: 523px;
    }
    .column label img {
        height: 203px;
    }
    .column1 img {
        height: 203px;
    }
}

.information_product {
    padding-top: 51px;
    padding-bottom: 60px;
    background: #fff;
}
.viewed_product_title_container{
	border-bottom: solid 1px #dadada;
}
.product_name {
    font-size: 24px;
   
}
.product_title{
	width: 100%;
	height: auto;
}
.product_title_button {
	width: 100%;
    display: inline-block;
    border: none;
    font-size: 18px;
    color: #FFFFFF;
    outline: none;
    cursor: pointer;
}
.product_price {
    display: inline-block;
    font-size: 24px;
    margin-top: 15px; 
    clear: left;
}
.product_text {
    margin-top: 17px;
}
.characteristics {
    padding-top: 70px;
    padding-bottom: 0px;
}
.char_item {
    width: 100%;
    height: 85px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    border: solid 1px #e8e8e8;
    padding-left: 16px;
}
.char_icon {
    margin-right: 14px;
}
.char_content {
    transform: translate(-1px, 3px);
}

.char_subtitle {
    font-size: 12px;
    font-weight: 400;
    color: rgba(0,0,0,0.5);
    margin-top: 3px;
}


.rating-overview .score {
    margin-top: 10px;
    line-height: 1;
}

.rating-overview .average {
    font-size: 48px;
    color: #212121;
    margin-bottom: 9px;
}

.rating-overview .countText {
    color: #757575;
    font-size: 14px;
}

.tillet {
    color: #757575;
    font-size: 13px;
}

.filter__seller-rating {
    display: inline-block;
    vertical-align: middle;
    height: 32px;
    width: 32px;
    margin-right: 16px;
    cursor: pointer;
}

.rank {
    padding-top: 10px;
}

.side {
    float: left;
    width: 16%;
    margin-top: 0px;
}

.middle {
    margin-top: 10px;
    float: left;
    width: 54%;
}


.bar-container {
    width: 97%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

.seller-review-item {
    border-bottom: 1 solid #eff0f5;
    margin-bottom: 30px;
}

.seller-review-item .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: 'row';
    flex-direction: 'row';
    margin: 5px 0;
}
.seller-review-item .comments {
    font-size: 14px;
    color: #212121;
}
.seller-review-item .itemFooter {
    margin-top:-12px; 
    color: #9e9e9e;
    font-size: 12px;
}

.rating_r i::before
{
	font-family: 'FontAwesome';
	content: "\f006";
	font-style: normal;
	font-size: 19px;
	margin-right: 4px;
	color: #f5e211;
}
.rating_r_1 i:first-child::before{content: "\f005";}
.rating_r_2 i:first-child::before{content: "\f005";}
.rating_r_2 i:nth-child(2)::before{content: "\f005";}
.rating_r_3 i:first-child::before{content: "\f005";}
.rating_r_3 i:nth-child(2)::before{content: "\f005";}
.rating_r_3 i:nth-child(3)::before{content: "\f005";}
.rating_r_4 i:first-child::before{content: "\f005";}
.rating_r_4 i:nth-child(2)::before{content: "\f005";}
.rating_r_4 i:nth-child(3)::before{content: "\f005";}
.rating_r_4 i:nth-child(4)::before{content: "\f005";}
.rating_r_5 i:first-child::before{content: "\f005";}
.rating_r_5 i:nth-child(2)::before{content: "\f005";}
.rating_r_5 i:nth-child(3)::before{content: "\f005";}
.rating_r_5 i:nth-child(4)::before{content: "\f005";}
.rating_r_5 i:nth-child(5)::before{content: "\f005";}